#footer-nav
%section#copyright
  .container
    %a{:href => 'https://www.redhat.com/'}
      %img{ :src => image_path("redhat.png"), :alt => "Red Hat" }
    .pull-right Copyright &copy; 2013 Red Hat, Inc.
